https://www.alvinang.sg/s/Advertising.csv



---

#1. Load and Glance

In [1]:
import pandas as pd

advert = pd.read_csv('https://www.alvinang.sg/s/Advertising.csv')
advert.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9



---

#2. Create the Linear Model

In [2]:
from sklearn.linear_model import LinearRegression

#Build linear regression model using TV and Radio as predictors
#Split data into predictors X and output Y

X = advert[['TV', 'Radio']]
y = advert['Sales']

#initialise and fit model
lm = LinearRegression()
model = lm.fit(X,y)



---

#3. Produce the Model

In [4]:
print(f'alpha = {model.intercept_}')
print(f'betas = {model.coef_}')

#Sales = 2.9 + 0.046*TV + 0.18*Radio

alpha = 2.921099912405138
betas = [0.04575482 0.18799423]



---

#4. Predict the Model

In [5]:
new_X = [[300, 200]]
print(model.predict(new_X))

#If we spend $300 on TV advertising and $200 on Radio advertising, 
#We should predict TV = 54 units sold.

[54.24638977]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"



---

#5. Predicting the Model using X Values

In [6]:
model.predict(X)

array([20.55546463, 12.34536229, 12.33701773, 17.61711596, 13.22390813,
       12.51208449, 11.71821241, 12.10551553,  3.7093792 , 12.55169696,
        7.0358597 , 17.25652015, 10.60866187,  8.81095051, 18.44466773,
       20.82891539, 12.90386507, 23.24107626,  9.94121476, 14.15384619,
       18.12139161, 14.74206357,  6.51417168, 16.54402663,  8.14035215,
       15.6080206 , 14.96769383, 17.0463346 , 19.39954145,  9.15929748,
       21.64292187, 11.35791808,  7.65045928, 18.83346334,  7.56302763,
       16.99280099, 23.36720719, 15.6258994 ,  9.91257829, 20.4405801 ,
       16.37872122, 17.29870935, 21.5621537 , 13.96692266,  8.9009974 ,
       15.16263814,  8.88644967, 21.69944046, 16.28690268,  8.18162949,
       12.64569407,  9.31962792, 20.66180115, 19.96126242, 20.35512357,
       21.30864743,  8.53774783, 12.76239488, 21.89072858, 18.10746914,
        5.74497097, 22.90418658, 16.78413768, 13.18474853, 16.96570907,
        7.82652846,  8.98703456, 12.02066194, 18.95313425, 21.09369037,
       17.78350693, 10.63329605, 10.35113844,  9.91334008, 17.30983543,
       11.90970399,  4.48014809, 13.79239059,  8.78920329,  9.67621401,
       11.43621364, 14.6638809 , 10.18272029, 14.41647235, 20.77350468,
       15.22002396, 11.58203354, 15.61872354, 11.75510286, 16.93110264,
        9.98714329,  4.51167896, 19.17972975, 21.26277229, 10.46708623,
       16.33347878, 12.62023117, 15.32904398, 24.12842563, 16.94651016,
       13.90534597, 23.30701753, 17.64034079, 14.75193037, 20.26809884,
       17.95362103,  6.13290678,  7.11373347,  3.59568568, 19.66392439,
       14.79408982, 21.12381933, 13.85533202, 16.38399023, 15.29725626,
       12.93708446, 11.97848762,  6.56716317, 15.60946713,  6.81665095,
       14.42450056,  7.86076515, 13.62136464, 15.05811789, 19.4940435 ,
        9.12925166, 10.59096289,  6.59063608, 22.21260278,  7.90401761,
       10.39769966, 15.60046013,  8.41888332, 19.27581486, 11.86602974,
       13.96678613, 11.42419802, 20.87722595,  9.75760743, 19.63411177,
        9.47540519, 18.43880322, 19.25144497,  8.77862066, 10.10502768,
        9.6976895 , 15.27918887, 23.26038805, 12.23595022,  9.81659119,
       18.37759626, 10.03658404, 16.34251686, 18.22227054, 15.48053237,
        5.28942768, 15.39522591, 10.01956371, 10.39341821, 12.40610283,
       14.21650102, 13.57248088, 14.94400258, 17.32019972, 11.04707937,
       14.28978442, 10.80869402, 13.36076565, 17.21335083, 17.92193265,
        7.3895737 , 14.37684633,  7.59657824, 11.96096978, 13.73615116,
       24.7835259 , 19.96402163, 12.17492441, 16.01384397, 12.37803956,
       10.57508895, 13.93369584,  6.56408761, 24.16393648, 18.53794901,
       20.77937663,  9.69868449, 17.06027938, 18.62009678,  6.0514451 ,
       12.45497782,  8.4059261 ,  4.47885906, 18.44876059, 16.4631902 ,
        5.36451249,  8.15237521, 12.76804849, 23.79292299, 15.15754285])



---

#THE END



---